.c27__ {
  &container {

    margin-top: 64px;
    @include respond-to(medium) {
      margin-top: 89px;
    }

    &.fix-top {
      margin-top: 50px;
    }

    &.fix-bottom {
      margin-bottom: 90px;
    }

    @include respond-from(medium) {
      .container-fix {
        padding-left: 16px;
        padding-right: 0px;
      }
    }

    .container-holder {

      .titulo {
        font-family: $second-font;
        font-weight: $thin;
        color: $color-main;
        font-size: $h2-size-mobile;
        line-height: 74px;
        text-align: center;
        margin-bottom: 48px;

        @include respond-from(medium) {
          margin-bottom: 32px;
        }
        @include respond-to(large) {
          font-size: $h1-size;
        }
      }

      .nav-holder {
        margin-bottom: 48px;
        padding-left: 16px;
        padding-right: 16px;

        @include respond-from(small) {
          padding-left: 16px;
          padding-right: 16px;
        }

        .nav {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 56px;
          padding: 0px;
          margin: 0px;
          list-style: none;

          @include respond-from(medium) {
            justify-content: start;
            overflow-x: visible;
            overflow-y: hidden;
            padding-bottom: 30px;

            &::-webkit-scrollbar { 
              height: 0px; 
//              height: 5px; 
            }
            &::-webkit-scrollbar-track { background: transparent; }
            &::-webkit-scrollbar-thumb { background: $color-grey3; &:hover { background: $color-grey3; } }
          }


          li {
            .btn {
              position: relative;
              font-family: $main-font;
              font-weight: $regular;
              color: $color-grey1;
              font-size: 16px;
              line-height: 20px;
              text-transform: uppercase;
              white-space: nowrap;
              @include transition(color .3s ease);

              &:hover {
                color: $color-main;
                font-weight: $bold;
              }

              &.activo {
                color: $color-main;
                font-weight: $bold;

                &:after {
                  content: '';
                  position: absolute;
                  left: 0px;
                  bottom: -16px;
                  display: block;
                  width: 100%;
                  height: 1px;
                  background-color: $color-main;
                }
              }
            }
          }
        }
      }


      .contents {
        position: relative;
        width: 100%;

          .layer {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            //background-color: yellow;
            display: none;

            &.show {
              display: block;
            }

            &.show-o {
              &:before {
                opacity: 1;
              }
            }

            &:before {
              content: '';
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-color: $color-white;
              @include transition(all 1s ease);
            }
          }

      .habitaciones {
        display: none;

        &.activo {
          display: block;
        }

        .slick-slider-holder {
          position: relative;

          @include respond-to(small) {
            > div {
              display: flex;
              gap: 16px;

              > div {
                width: 100%;
              }
            }
          }

          .slick-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;

            .slick-prev,
            .slick-next {
              position: absolute;
              top: calc(50% - 5px);
              width: 10px;
              height: 20px;
              cursor: pointer;
              z-index: 1;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              @include transition(all .2s ease);
            }

            .slick-prev {
              left: -8px;
              background-image: url('#{$iconspath}arrow-left-.svg');

              &:hover {
              }
            }

            .slick-next {
              right: -8px;
              background-image: url('#{$iconspath}arrow-right-.svg');

              &:hover {
              }
            }

            .slick-list {
              position: relative;
              display: block;
              overflow: hidden;
              margin: 0;
              padding: 0;
              padding-bottom: 26px;

              /*@include respond-from(large) {
                padding-right: 96px;
                padding-left: 16px;
              }*/

              @include respond-from(medium) {
                padding-right: 72px!important;
              }

              &:focus {
                outline: none;
              }

              &.draggable {
                cursor: grab;

                &:active {
                  cursor: grabbing;
                }
              }
            }

            .slick-track {
              position: relative;
              top: 0;
              left: 0;
              display: block;
              margin-left: auto;
              margin-right: auto;

              &:after,
              &:before {
                display: table;
                content: '';
              }

              &:after {
                clear: both;
              }
            }

            .slick-list,
            .slick-track {
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
              display: flex;
            }

            .slick-slide {
              display: none;
              float: left;
              height: 100%;
              min-height: 1px;
              margin-right: 16px;
            }
          }

          .slick-loading {
            .slick-track {
              visibility: hidden;
            }
          }

          [dir='rtl'] {
            .slick-slide {
              float: right;
            }
          }

          .slick-slide {
            &.slick-loading img {
              display: none;
            }
            &.dragging {
              img {
                pointer-events: none;
              }
            }
          }

          .slick-initialized {
            .slick-slide {
              display: block;
            }
          }

          .slick-loading {
            .slick-slide {
              visibility: hidden;
            }
          }

          .slick-arrow {
            &.slick-hidden {
              display: none;
            }
          }
        }

        .habitacion {
          width: 100%;
          height: 100%;

          //max-width: 648px;

          /*.slick-slider-holder_ {
            position: relative;
            padding-left: 16px;
            padding-right: 16px;

            .slick-slider_ {
              position: relative;
              display: block;
              box-sizing: border-box;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              -webkit-touch-callout: none;
              -khtml-user-select: none;
              -ms-touch-action: pan-y;
              touch-action: pan-y;
              -webkit-tap-highlight-color: transparent;

              .slick-prev,
              .slick-next {
                position: absolute;
                top: calc(50% - 5px);
                width: 10px;
                height: 20px;
                cursor: pointer;
                z-index: 1;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include transition(all .2s ease);
              }

              .slick-prev {
                left: -16px;
                background-image: url('#{$iconspath}arrow-left-.svg');

                &:hover {
                }
              }

              .slick-next {
                right: -16px;
                background-image: url('#{$iconspath}arrow-right-.svg');

                &:hover {
                }
              }

              .slick-list {
                position: relative;
                display: block;
                overflow: hidden;
                margin: 0;
                padding: 0!important;
                box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
                border-radius: 2px;

                &:focus {
                  outline: none;
                }

                &.dragging {
                  cursor: pointer;
                  cursor: hand;
                }
              }

              .slick-track {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;

                &:after,
                &:before {
                  display: table;
                  content: '';
                }

                &:after {
                  clear: both;
                }
              }

              .slick-list,
              .slick-track {
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
              }

              .slick-slide {
                display: none;
                float: left;
                height: 100%;
                min-height: 1px;
                margin-right: 0px!important;

                .item {
                  img {
                    display: block;
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    object-position: top;

                    @include respond-from(small) {
                      height: 195px;
                    }
                  }
                }
              }
            }

            .slick-loading {
              .slick-track {
                visibility: hidden;
              }
            }

            [dir='rtl'] {
              .slick-slide {
                float: right;
              }
            }

            .slick-slide {
              &.slick-loading img {
                display: none;
              }
              &.dragging {
                img {
                  pointer-events: none;
                }
              }
            }

            .slick-initialized {
              .slick-slide {
                display: block;
              }
            }

            .slick-loading {
              .slick-slide {
                visibility: hidden;
              }
            }

            .slick-vertical {
              .slick-slide {
                display: block;
                height: auto;
                border: 1px solid transparent;
              }
            }

            .slick-arrow {
              &.slick-hidden {
                display: none;
              }
            }
          }*/

          .item {
            padding-left: 16px;
            padding-right: 16px;

            .img {
              display: block;
              width: 100%;
              height: 220px;
              object-fit: cover;
/*              object-position: top;*/

              @include respond-from(small) {
                height: 195px;
              }
            }
          }

          .data {
            position: relative;
            background: $color-white;
            box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            padding: 25px 16px 66px 16px;
           // min-height: 297px;

            display: Flex;
            flex-direction: column;
            justify-content: flex-start;
            height: calc(100% - 220px);

            @include respond-from(small) {
              padding-bottom: 100px;
              height: calc(100% - 195px);
            }

            .titulo {
              position: relative;
              font-family: $main-font;
              font-weight: $medium;
              color: $color-main;
              font-size: 20px;
              line-height: 26px;
              text-align: left;
              padding-bottom: 23px;
              margin-bottom: 20px;
              text-transform: uppercase;

              @include respond-to(large) {
                font-size: 28px;
                line-height: 33px;
              }

              &:before {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 38px;
                height: .5px;
                background-color: $color-main;
              }
            }

            .texto {
              font-family: $main-font;
              font-weight: $regular;
              color: $color-grey1;
              font-size: 16px;
              line-height: 22px;
              margin-bottom: 20px;
              margin-top: 20px;
              //min-height: 110px;

              @include respond-from(small) {
                //min-height: 194px;
              }
            }

            .btns {
              position: absolute;
              bottom: 25px;
              width: calc(100% - 32px);
              display: flex;
              align-items: center;
              justify-content: space-between;

              @include respond-from(small) {
                display: block;

                .btn-reservar {
                  max-width: 100%!important;
                  margin-top: 10px;
                }
              }

              .btn-detalles {
                font-family: $main-font;
                font-weight: $medium;
                color: $color-main;
                font-size: 16px;
                line-height: 24px;
                text-decoration: underline;
                padding-right: 45px;
                text-transform: uppercase;
                background-image: url('#{$iconspath}arrow-right.svg');
                background-repeat: no-repeat;
                background-size: 32px 9px;
                background-position: right center;
                @include transition(all .3s ease);

                &:hover {
                  padding-right: 50px;
                }
              }

              .btn-reservar {
                @include button($color-main, $color-white, $color-main);
                width: 100%;
                max-width: 122px;
              }
            }
          }
        }
      }
    }

      .habitaciones-bottom {
        text-align: center;
        margin-top: 50px;

        @include respond-from(medium) {
          margin-top: 0px;
        }

        .btn-ver-todas {
          @include button($color-white, $color-main, $color-main);
        }
      }
    }
  }
}
