.c37 {
  &__container {
    margin-top: 26px;
    display: none;

    @include respond-from(large) {
      margin-top: 70px;

      .container-fix {
        padding-right: 16px;
      }
    }

    &.show {
      display: block;
    }
  }

  &__titulo {
    font-family: $second-font;
    font-weight: $thin;
    font-size: 80px;
    line-height: 74px;
    margin-bottom: 24px;
    text-align: center;

    @include respond-from(large) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__texto {
    font-family: $main-font;
    font-weight: $regular;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    @include respond-from(medium) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0;
  }

  &__contenido-item {
    width: 33%;
    padding: 0 5.7% 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    @include respond-from(large) {
      width: 50%;

      &:last-child,
      &:nth-child(2n) {
        &:after {
          display: none;
        }
      }
    }
    @include respond-from(medium) {
      width: 100%;

      &:after,
      &:before {
        display: none;
      }
    }

    &:after {
      content: '';
      width: 0.5px;
      height: 104px;
      background: #000028;
      position: absolute;
      top: 57px;
      right: 0;
    }

    &:nth-child(3) {
      &:after {
        display: none;
      }
    }

    &:nth-child(4) {
      &:before {
        content: '';
        width: 0.5px;
        height: 104px;
        background: #000028;
        position: absolute;
        top: 57px;
        left: 0;
      }
    }
  }

  &__icon {
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;

    span {
      display: block;
      font-family: $main-font;
      font-weight: $regular;
      font-size: 18px;
      line-height: 24px;
      @include respond-from(medium) {
        font-size: 16px;
        line-height: 22px;
      }

      &.number {
        font-family: $main-font;
        font-weight: $medium;
        font-size: 50px;
        line-height: 40px;
        color: #000028;
        display: inline-block;
        padding-top: 8px;
      }

      &.percent {
        display: inline-block;
        font-size: 30px;
      }
    }
  }

  &__contenido {
    &.grid_2 {
      .c37__contenido-item {
        &:nth-child(2) {
          &:after {
            display: none;
          }
        }
      }
    }

    &.grid_4 {
      .c37__contenido-item {
        width: 25%;
        padding: 0 1% 48px;

        &:nth-child(4) {
          &:after {
            display: none;
          }
        }
        @include respond-from(large) {
          width: 50%;
        }
        @include respond-from(medium) {
          width: 100%;
        }
      }
    }
  }
}
