.card-sticker {

    &__title3 {
        margin-bottom: $space;

        @include respond-to(medium) {
            margin-bottom: $high-space;
        }
    }

    &__contenido {

        @include respond-to(medium) {
//            padding-left: 4.8rem;
//            padding-right: 4.8rem;
        }

        &--card3 {
            padding: 0rem 0.8rem;
            width: 100%;
            justify-content: normal;

            @include respond-to(medium) {
                width: 33%;
                gap: 1.6rem;
            }

            @include respond-to(large) {
                width: 33%;
                gap: 0;
            }
        }
    }

    &__text3 {
        font-family: $main-font;
        font-size: $medium-size;
        font-weight: $regular;
        line-height: 2.2rem;
        text-align: left;
        margin-left: 0.8rem;

        @include respond-to(medium) {
            text-align: center;
            margin-left: 0;
            line-height: $regular-line;
        }

        @include respond-to(large) {
            font-size: $subtitle02-size-mobile;
            line-height: $high-line;
        }
    }

    &__contenido3{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @include respond-to(medium) {
            align-items: flex-start;
        }
    }
}