.c51-02__container {
  display: flex;
  flex-direction: column;

  margin-top: 64px;
  @include respond-to(medium) {
    margin-top: 88px;
  }

  .grid-wrapper {
    //height: calc(100vh - 10px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(188px, auto);

    @include respond-from(small) {
      height: 342px!important;
    }

    @include respond-from(medium) {
      //height: 730px;
      height: 570px;
    }

    @include respond-to(medium) {
      grid-template-columns: repeat(2, 1fr);
      //grid-gap: 10px;
      //grid-auto-rows: minmax(230px, auto);
      max-height: 782px;
    }

    @include respond-to(large) {
      grid-template-columns: repeat(2, 1fr);
      //grid-gap: 10px;
      //grid-auto-rows: minmax(188px, auto);
    }

    > div {
      /*display: flex;
      justify-content: center;
      align-items: center;*/
      @include respond-from(small) {
        height: 122px!important;
      }

      @include respond-from(medium) {
        height: 280px;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .wide {
      grid-column: span 4;
      grid-row: span 1;

      @include respond-from(small) {
        height: 122px!important;
      }

      @include respond-from(medium) {
        order: 3;
        height: 280px;
      }
    }
  }

  .btn-ver {
    font-family: $main-font;
    font-weight: $medium;
    color: $color-main;
    text-decoration: underline;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    order: 1;

    @include respond-from(small) {
      margin-top: -66px!important;
    }

    @include respond-from(medium) {
      margin-top: 24px;
    }

    .arrow-right {
      width: 30px;
      margin-left: 17px;
    }

    @include respond-to(medium) {
      order: 0;
      margin: 0 0 16px auto;
    }
  }

  .image2 {
    @include respond-from(small) {
      height: 122px!important;
    }

    @include respond-from(medium) {
      height: 280px;
    }

    @include respond-to(large) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  .display-none__mobile {
    display: none;

    @include respond-to(medium) {
      display: flex;
    }
  }

  .display-none__tablet {
    @include respond-to(medium) {
      display: none;
    }
    @include respond-to(large) {
      display: flex;
    }
  }

  .video-holder {
    position: relative;
    width: 100%;
    height: 100%;

    .ico-play {
      cursor: pointer;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url('#{$iconspath}play.svg');
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: center;
        z-index: 1;

        @include respond-from(small) {
          background-size: 38px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: $color-main;
        opacity: .4;
        z-index: 0;
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
    }
  }

  &.modal-galeria {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255,255,255, .95);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

    @include respond-from(large) {
      padding-left: 16px;
      padding-right: 16px;
    }

    &.show {
      display: flex;
    }

    .btn-close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 26px;
      height: 26px;
      background-image: url('#{$iconspath}X.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }

    .slick-slider-holder {
      position: relative;
      width: 100%;
//      max-width: 1090px;
      max-width: 70%;

      @media (min-width: 1024px) and (max-width: 1270px){
        padding-left: 100px;
        padding-right: 100px;
      }

      .slick-arrow {
        position: absolute;
        display: block;
        top: calc(50% - 5px);
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 40px 13px;
        background-position: center;
        background-color: transparent;
        padding: 0px;
        border: 0px;
        text-indent: -1000px;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;

        @include respond-from(large) {
          top: calc(100% + 25px);
        }

        &.slick-prev {
          background-image: url('#{$iconspath}arrow-left.svg');
          left: -90px;

          @include respond-from(large) {
            left: 0px;
          }
        }

        &.slick-next {
          background-image: url('#{$iconspath}arrow-rights.svg');
          right: -90px;

          @include respond-from(large) {
            right: 0px;
          }
        }
      }

      .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;

        .slick-list,
        .slick-track {
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }

        .slick-list {
          position: relative;
          display: block;
          overflow: hidden;
          margin: 0;
          padding: 0;

          &:focus {
            outline: none;
          }

          &.dragging {
            cursor: pointer;
            cursor: hand;
          }

          .slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &:after,
            &:before {
              display: table;
              content: '';
            }

            &:after {
              clear: both;
            }

            .item {
              position: relative;
              display: flex;
              align-items: center;
              height: calc(100vh - 100px);
              justify-content: center;

              .video-holder {
                position: relative;
                width: 100%;
                height: 100%;

                .ico-play {
                  cursor: pointer;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 100%;
                  height: 100%;

                  &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: calc(100% - 5px);
                    background-image: url('#{$iconspath}play.svg');
                    background-repeat: no-repeat;
                    background-size: 70px;
                    background-position: center;
                    z-index: 1;

                    @include respond-from(small) {
                      background-size: 38px;
                    }
                  }

                  &:after {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: calc(100% - 5px);
                    background-color: $color-main;
                    opacity: .4;
                    z-index: 0;
                  }
                }

                video {
                  width: 100%;
                  height: calc(100vh - 100px);
                  object-fit: cover;
                  background-position: center;
                }
              }

              img {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }

      .slick-loading {
        .slick-track {
          visibility: hidden;
        }
      }

      .slick-slide {
        display: none;
        float: left;
        min-height: 1px;

        &.dragging {
          img {
            pointer-events: none;
          }
        }

        &.slick-loading {
          img {
            display: none;
          }
        }
      }

      [dir='rtl'] {
        .slick-slide {
          float: right;
        }
      }

      .slick-initialized {
        .slick-slide {
          display: block;
        }
      }

      .slick-loading {
        .slick-slide {
          visibility: hidden;
        }
      }

      .slick-vertical {
        .slick-slide {
          display: block;
          height: auto;
          border: 1px solid transparent;
        }
      }

      .slick-arrow {
        &.slick-hidden {
          display: none;
        }
      }

      .slick-contador-holder {
        position: relative;
        width: 100%;
        margin-top: 20px;

        @include respond-to(large) {
          display: flex;
        }

        @include respond-from(large) {
          text-align: center;
        }

        .slick-contador {
          display: flex;
          align-items: center;

          @include respond-from(large) {
            justify-content: center;
            margin-bottom: 10px;
          }

          .slick-actual {
            font-family: $main-font;
            font-weight: $bold;
            color: $color-main;
            font-size: 16px;
            line-height: 22px;
          }

          .slick-total {
            font-family: $main-font;
            font-weight: $regular;
            color: $color-main;
            font-size: 16px;
            line-height: 22px;
          }
        }

        .texto {
          font-family: $main-font;
          font-weight: $regular;
          color: $color-main;
          font-size: 18px;
          line-height: 28px;
          margin-left: 10px;
        }
      }
    }
  }
}
