.c63__ {
  &container {

    @include respond-from(large) {
      margin-top: 180px;
    }

    @include respond-from(small) {
      margin-top: 64px;
    }

    .col-holder {
      position: relative;
      display: flex;
      flex-direction: row;
      margin-top: 86px;

      @include respond-from(large) {
        flex-direction: column;
        margin-top: 35px;
      }

      @include respond-from(large) {
        margin-top: 20px;
      }

      .col-left,
      .col-right {
        width: 50%;

        @include respond-from(large) {
          width: 100%;
        }
      }

      .col-left {
        .titulo {
          position: relative;
          font-family: $second-font;
          font-weight: $thin;
          color: $color-main;
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 16px;
          text-align: center;

          @include respond-to(large) {
            display: none;
          }
        }

        .slick-slider-holder {
          margin-left: -64px;

          @include respond-from(large) {
            margin-left: 0px;
          }

          @include respond-from(small) {
//            height: 320px;
          }

          .slick-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;

            .slick-list,
            .slick-track {
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
            }

            .slick-list {
              position: relative;
              display: block;
              overflow: hidden;
              margin: 0;
              padding: 0;

              &:focus {
                outline: none;
              }

              &.dragging {
                cursor: pointer;
                cursor: hand;
              }

              .slick-track {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;

                &:after,
                &:before {
                  display: table;
                  content: '';
                }

                &:after {
                  clear: both;
                }

                .item {
                  position: relative;

                  .icon {
                    position: absolute;
                    top: 13px;
                    right: 15px;
                    width: 32px;
                    height: 32px;
                    z-index: 1;
                  }

                  img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    object-position: center;

                    @include respond-to(small) {
                      height: 520px;
                    }

                    @include respond-from(small) {
                      height: 253px;
                    }
                  }
                }
              }
            }
          }

          .slick-loading {
            .slick-track {
              visibility: hidden;
            }
          }

          .slick-slide {
            display: none;
            float: left;
            min-height: 1px;

            &.dragging {
              img {
                pointer-events: none;
              }
            }

            &.slick-loading {
              img {
                display: none;
              }
            }
          }

          [dir='rtl'] {
            .slick-slide {
              float: right;
            }
          }

          .slick-initialized {
            .slick-slide {
              display: block;
            }
          }

          .slick-loading {
            .slick-slide {
              visibility: hidden;
            }
          }

          .slick-vertical {
            .slick-slide {
              display: block;
              height: auto;
              border: 1px solid transparent;
            }
          }

          .slick-arrow {
            &.slick-hidden {
              display: none;
            }
          }
        }

        .slick-paginador {
          position: relative;
          display: flex;
          align-items: center;
          gap: 17px;
          margin-top: 20px;
          margin-left: -64px;
          width: calc(100% + 64px);

          @include respond-from(large) {
            margin-left: 0px;
            width: 100%;
          }

          .slick-prev-next-holder {
            display: flex;
            gap: 30px;

            @include respond-from(large) {
              width: 100%;
              justify-content: space-between;
            }

            .slick-prev {
              cursor: pointer;
              width: 32px;
              height: 32px;
              display: inline-block;
              vertical-align: middle;
              background-image: url('#{$iconspath}arrow-left.svg');
              background-repeat: no-repeat;
              background-size: 32px 9px;
              background-position: center;
              @include transition(all .2s ease);
            }

            .slick-next {
              cursor: pointer;
              width: 32px;
              height: 32px;
              display: inline-block;
              vertical-align: middle;
              background-image: url('#{$iconspath}arrow-rights.svg');
              background-repeat: no-repeat;
              background-size: 32px 9px;
              background-position: center;
              @include transition(all .2s ease);
            }
          }

          .linea-holder {
            width: 100%;
            background-color: $color-grey2;
            height: 1px;

            @include respond-from(large) {
              display: none;
            }

            .linea {
              width: 0;
              height: 2px;
              margin-top: -1px;
              background-color: $color-main;
              @include transition(all 800ms ease);
            }
          }

          .slick-at-holder {
            display: flex;

            @include respond-from(large) {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }

            .slick-actual {
              font-family: $main-font;
              font-weight: $bold;
              color: $color-main;
              font-size: 16px;
              line-height: 22px;
            }

            .slick-total {
              font-family: $main-font;
              font-weight: $regular;
              color: $color-main;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }

      .col-right {
        width: calc(50% + 64px);
        padding-left: 32px;

        @include respond-from(large) {
          width: 100%;
        }

        .titulo {
          position: relative;
          font-family: $second-font;
          font-weight: $thin;
          color: $color-main;
          font-size: 6.23vw;
          line-height: 5.8vw;
          //margin-left: -50px;
          //margin-top: 24px;
          margin-bottom: 24px;
          //padding: 7px 16px;
          //background-color: $color-white;

          /*@include respond-to(large) {
            br {
              display: none;
            }
          }*/

          @include respond-from(large) {
            display: none;
          }

          @include respond-to(large) {
            display: block;
          }

          @include respond-to(extraLarge) {
            font-size: 80px;
            line-height: 74px;
          }

          /*@include respond-from(large) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 16px;
            margin-left: 0px;
            padding: 0px;
            position: absolute;
            bottom: calc(100% - 35px);
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            //background-color: transparent;
            /*display: inline-block;
            background-color: $color-white;
            padding: 8px;
            padding-top: 0px;
            padding-left: 8px;
            padding-right: 8px;
          }*/
        }

        .items-holder {
          @include respond-from(large) {
            margin-top: 40px;
          }

          @include respond-from(large) {
            justify-content: start;
            overflow-x: visible;
            overflow-y: hidden;
            padding-bottom: 0px;
            margin-bottom: 30px;

            &::-webkit-scrollbar { height: 5px; }
            &::-webkit-scrollbar-track { background: transparent; }
            &::-webkit-scrollbar-thumb { background: $color-grey3; &:hover { background: $color-grey3; } }
          }

          .items {
            display: flex;
            flex-direction: row;
            gap: 16px;
            margin: 0px;
            padding: 0px;
            margin-left: 16px;
            margin-bottom: 32px;
            list-style: none;

            @include respond-from(large) {
              gap: 24px;
              margin-bottom: 16px;
              margin-left: 0px;
            }

            .item {
              font-family: $main-font;
              font-weight: $regular;
              color: $color-main;
              font-size: 11px;
              line-height: 11px;
              text-align: center;
              width: 95px;

              @include respond-from(large) {
                width: auto;
                min-width: 125px;
                font-size: 12px;
                line-height: 16px;
              }
            }
          }
        }

        .texto {
          font-family: $main-font;
          font-weight: $regular;
          color: $color-main;
          font-size: 16px;
          line-height: 22px;
          padding-left: 127px;

          @include min-max-width(740px, 1140px) {
            padding-right: 16px;
          }

          .btn-leer {
            font-family: $main-font;
            font-weight: $medium;
            color: $color-main;
            font-size: 14px;
            line-height: 24px;
            text-decoration: underline;
            padding-right: 18px;
            background-image: url('#{$iconspath}arrow-down.svg');
            background-repeat: no-repeat;
            background-size: 12px 7px;
            background-position: right center;
            @include transition(all .3s ease);

            &.menos {
               display: none;
            }
          }

          p {
            &.texto-1 {
              //height: 180px;
              overflow: hidden;
            }

            &.texto-2 {
              display: none;
            }

            &.p-enlace-destacado {
              margin-top: 16px !important;
              @include respond-to(large) {
                margin-top: 8px !important;
              }
            }

            span.text-desktop{
              display: none;

              @include respond-to(large) {
                display: block;
              }
            }

            span.text-mobile{
              display: block;

              @include respond-to(large) {
                display: none;
              }
            }

            a{
              &.enlace-destacado {
              font-family: $main-font;
              font-weight: $bold;
              text-decoration: underline;
              cursor: pointer;
            }
            }
          }

          &.show {
            p {
              &.texto-1 {
                height: auto;
                overflow: visible;

                .dots {
                  display: none;
                }
              }

              &.texto-2 {
                display: block;
              }
            }

            .btn-leer {
              background-image: url('#{$iconspath}arrow-up.svg');

              &.menos {
                display: inline;
              }

              &.mas {
                 display: none;
              }
            }
          }

          @include respond-from(large) {
            padding-left: 0px;
          }

          @include respond-from(large) {
            margin-bottom: 20px;
          }

          b, strong{
            font-weight: $bold;
          }
        }
      }
    }

    .btn-ver-todos-holder {
      margin-top: 50px;
      padding-right: 16px;
      text-align: center;

      @include respond-from(medium) {
        margin-top: 16px;
      }

      .btn-ver-todos {
        @include button($color-white, $color-main, $color-main);
        width: 100%;
        max-width: 390px;

        @include respond-from(small) {
          span {
            display: none;
          }
        }
      }
    }


  }
}
