:root {

/* Colors: */
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-9dd7b7: #9DD7B7;
--unnamed-color-00b2d0: #00B2D0;

/* Font/text values */
--unnamed-font-family-museo-sans-rounded: Museo Sans Rounded;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-16: 16px;
--unnamed-font-size-40: 40px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-48: 48px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-museo-sans-rounded);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-museo-sans-rounded);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-40);
line-height: var(--unnamed-line-spacing-48);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-00b2d0);
}