<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

    <title>H10 Hotels. Confirmaci&oacute;n de la reserva</title>

    <meta http-equiv="cache-control" content="max-age=0" />

    <meta http-equiv="cache-control" content="no-cache" />

    <meta http-equiv="Pragma" content="no-cache">

    <meta http-equiv="Expires" content="-1">

    <style type="text/css">

        body {
            width: 100%;
            background-color: #EDEDF0;
            margin: 0;
            padding: 0;
            border: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, sans-serif;
        }

        /*table { border-collapse: collapse; border-spacing: 0px; padding: 0px; }*/

        div, p, a, li {
            -webkit-text-size-adjust: none;
            padding: 0px;
            margin: 0px;
        }



        a {
            color: #000028;
            font-weight: bold;
        }



        .spc_rrss {
            text-align: center;
        }



        @@media (max-width:660px) {

            .spc_rrss_it_1 {
                display: block;
                width: 100%;
                margin-bottom: 30px;
            }



            .spc_rrss_it_2 {
                display: block;
                width: 100%;
            }
        }
    </style>

</head>

<body width="100%" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, sans-serif">



    <table width="100%" border="0" cellpadding="5" cellspacing="0" bgcolor="#EDEDF0">

        <tr>

            <td width="100%" align="center" style="padding-left: 16px;padding-right: 16px;">

                <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="max-width: 998px;border-radius:8px;margin-bottom:40px;overflow: hidden;">

                    <tr>

                        <td>

                            <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                <tr>

                                    <td style="padding:24px 24px 24px 24px;">

                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-bottom:0px;">

                                            <tr>

                                                <td width="30%" align="left"><a href="#"><img width="95" src="@Model.StaticUrl/logo-blue.png" alt="H10 Hotels. Pensando en ti" border="0" style="width:95px;display:inline-block;border:0;vertical-align: middle;" /></a></td>

                                                <td width="70%" align="right"><a href="#"><img src="@Model.DatosHotel.LogoHotel" alt="H10 Hotels. Pensando en ti" border="0" style="display: inline-block; border: 0; vertical-align: middle; padding-left: 5px; max-width: 250px; max-height: 45px;" /></a></td>

                                            </tr>

                                        </table>

                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                            <tr>

                                                <td align="center">

                                                    <h4 style="font-family: Arial, sans-serif; font-size:28px; line-height:32px; color:#000028; margin-top:16px;margin-bottom:16px;">Gracias @Model.DatosCliente.Nombre, tu reserva ha sido confirmada</h4>

                                                    <img src="@Model.StaticUrl/punto-azul.gif" style="width: 160px; height:.5px; background-color:#000028; display: block;" />

                                                    <p style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;margin-top:16px;margin-bottom:20px;">

                                                        ¡Gracias por elegir el @Model.DatosHotel.NombreHotel!<br>

                                                        A continuación encontrarás los detalles de tu reserva.

                                                    </p>

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                        <tr>

                                                            <td style="padding-left: 0px; padding-right: 0px;">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">DATOS DEL HOTEL</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td class="deviceWidth first" style="width: 160px"><img src="@Model.DatosHotel.Imagen" style="width: 100%; max-width: 160px; display: block;" /></td>

                                                                        <td style="padding-left: 16px;" class="deviceWidth">

                                                                            <h5 style="font-family: Arial, sans-serif; font-size:16px; line-height:18px; color:#000028; margin-top:0px; margin-bottom:10px;"><strong>@Model.DatosHotel.NombreHotel</strong> @if (Model.DatosHotel.IsBoutique == false) { <p style="display: inline-flex; margin-left: 2px;"> @foreach (var Star in @Model.DatosHotel.Stars) { <img src="@Model.StaticUrl/ico-star.png" width="16" height="15" border="0" style="display: inline-block;margin-right: 2px;" /> }</p> } @if (Model.DatosHotel.IsSuperior == true) { <p style="display: inline-block; color: rgb(167, 156, 103)">S</p> } @if (Model.DatosHotel.IsLuxury == true) { <p style="display: inline-block; color: rgb(167, 156, 103)">GL</p> } </h5>

                                                                            <a href="#" style="font-family: Arial, sans-serif; font-size:12px; line-height:16px; color:#767676; font-style: italic; text-decoration: none; font-weight: normal;"><img src="@Model.StaticUrl/ico-ubicacion-gris.png" width="8" height="10" border="0" style="margin-right: 5px;" /> @Model.DatosHotel.UbicacionHotel</a>

                                                                            <br>

                                                                            <a href="tel:@Model.DatosHotel.TelefonoHotel" style="font-family: Arial, sans-serif; font-size:12px; line-height:16px; color:#767676; font-style: italic; text-decoration: none; font-weight: normal;"><img src="@Model.StaticUrl/ico-telefono-gris.png" width="8" height="8" border="0" style="margin-right: 5px;" /> @Model.DatosHotel.TelefonoHotel</a>

                                                                            <br>

                                                                            <a href="mailto:@Model.DatosHotel.EmailHotel" style="font-family: Arial, sans-serif; font-size:12px; line-height:16px; color:#767676; font-style: italic; text-decoration: none; font-weight: normal;"><img src="@Model.StaticUrl/ico-email-gris.png" width="10" height="8" border="0" style="margin-right: 5px;" /> @Model.DatosHotel.EmailHotel</a>

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                    <br>

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed">

                                                        <tr>

                                                            <td style="padding-left: 0px; padding-right: 2px; vertical-align: top; width:50%">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">DATOS DE LA RESERVA</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td style="width: 160px; padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">LOCALIZADOR</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Model.DatosReserva.Localizador</td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">ENTRADA</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Model.DatosReserva.FechaEntrada</td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">SALIDA</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Model.DatosReserva.FechaSalida</td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">NOCHES</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Model.DatosReserva.Noches</td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">OCUPACI&Oacute;N</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Model.DatosReserva.Ocupacion.Adultos adulto/s @if(Model.DatosReserva.Ocupacion.Ninos > 0) { @("+ " + Model.DatosReserva.Ocupacion.Ninos + " ni&ntilde;o/s") }</td>

                                                                    </tr>
																	
																	@if(@Model.DatosReserva.Ocupacion.Ninos > 0 && @Model.DatosReserva.Ocupacion.EdadNinos != null) {
																	<tr>
																		<td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;"></strong></td>
																		@{ int NumeroNino = 0; 
																		<td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">
																		@foreach (var EdadNino in @Model.DatosReserva.Ocupacion.EdadNinos) { NumeroNino++;
																			<span>Edad niño @NumeroNino : @EdadNino</span>
																		}
																		</td>
																		}
																	</tr>
																	}

                                                                </table>

                                                            </td>

                                                            <td style="padding-left: 2px; padding-right: 0px; vertical-align: top; width:50%">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">DATOS DEL CLIENTE</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td style="width: 168px; padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">CLIENTE</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Model.DatosCliente.Nombre @Model.DatosCliente.Apellido1 @Model.DatosCliente.Apellido2</td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">TELÉFONO</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;"><a href="tel:@Model.DatosCliente.Telefono">@Model.DatosCliente.Telefono</a></td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">EMAIL</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;"><a href="mailto:@Model.DatosCliente.Email">@Model.DatosCliente.Email</a></td>

                                                                    </tr>

                                                                    @if (!string.IsNullOrEmpty(Model.DatosCliente.ClubH10.ToString())) {

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">TARJETA CLUB H10</strong></td>

                                                                        @if (Model.DatosCliente.RegistroClub == true) {

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">Alta exprés<br>@Model.DatosCliente.ClubH10</td>

                                                                        }

                                                                        else

                                                                        {

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Model.DatosCliente.ClubH10</td>

                                                                        }

                                                                    </tr>

                                                                    }

                                                                    <tr>

                                                                        <td><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">ORIGEN</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">@Model.DatosCliente.Origen</td>

                                                                    </tr>

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                    <br>

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed">

                                                        <tr>

                                                            <td style="padding-left: 0px; padding-right: 2px;">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">CHECK-IN ONLINE</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block; margin-bottom:16px;" />

                                                                        </td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td align="left" width="147" height="147"><img src="data:image/png;base64, @Model.DatosReserva.CodigoQR" style="display: block; width: 147px; height: 147px;" /></td>

                                                                        <td align="left" style="vertical-align: top; padding-left: 16px;">

                                                                            <p style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">

                                                                                Ahorra tiempo y evita colas.<br>

                                                                                Desde las 15h, dos días antes de tu llegada al hotel.

                                                                            </p>

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                    <br>

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed">

                                                        <tr>

                                                            <td style="padding-left: 2px; padding-right: 0px;">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">DESGLOSE DE PRECIOS</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                @{ int NumeroHabitacion = 0; foreach (var Habitacion in @Model.Habitaciones) { NumeroHabitacion++;

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td width="60%" style="padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; text-transform: uppercase;">@NumeroHabitacion. @Habitacion.Titulo <br />@Habitacion.TarifaRegimen</strong></td>

                                                                        <td width="40%" style="padding-bottom: 8px; vertical-align: top;" align="right"><strong style="font-family: Arial, sans-serif; font-size:18px; line-height:20px; color:#000028;">@Habitacion.Precio</strong></td>

                                                                    </tr>

                                                                    @foreach (var DiaPrecio in @Habitacion.DatosPrecio) {

                                                                    <tr>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@DiaPrecio.Dia</td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px; vertical-align: top;" align="right">@DiaPrecio.Precio</td>

                                                                    </tr>

                                                                    }

                                                                    @foreach (var Extra in @Habitacion.Extras) {

                                                                    <tr>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">@Extra.Titulo, @Extra.Fecha</td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px; vertical-align: top;" align="right">@Extra.Precio</td>

                                                                    </tr>

                                                                    }

                                                                </table>

                                                                <br>

                                                                } }

                                                            </td>

                                                        </tr>

                                                    </table>

                                                    <br><br>

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed">

                                                        <tr>

                                                            <td style="padding-left: 0px; padding-right: 2px;">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">IMPORTE TOTAL</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                @if (@Model.DatosImporte.DescuentoPromocode == true || @Model.DatosImporte.DescuentoClub == true) {

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    @if (@Model.DatosImporte.DescuentoPromocode == true) {

                                                                    <tr>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; text-transform: uppercase; padding-bottom: 8px; padding-right: 16px;">@Model.DatosImporte.Promocode</td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:18px; line-height:20px; color:#CC5C5C; padding-bottom: 8px;width:100px" align="right">-@Model.DatosImporte.CantidadPromocode</td>

                                                                    </tr>

                                                                    }

                                                                    @if (@Model.DatosImporte.DescuentoClub == true) {

                                                                    <tr>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; text-transform: uppercase; padding-bottom: 8px; padding-right: 16px;">CLUB H10 @Model.DatosImporte.Club</td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:18px; line-height:20px; color:#CC5C5C; padding-bottom: 8px;width:100px" align="right">-@Model.DatosImporte.CantidadClub</td>

                                                                    </tr>

                                                                    }

                                                                    <tr>

                                                                        <td colspan="2" align="right"><img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block; margin-top: 16px; margin-bottom: 16px;" /></td>

                                                                    </tr>

                                                                </table>

                                                                }

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td style="padding-bottom: 8px; padding-right: 16px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; text-transform: uppercase;">Importe total de la reserva</strong></td>

                                                                        <td style="padding-bottom: 8px;" align="right"><strong style="font-family: Arial, sans-serif; font-size:18px; line-height:20px; color:#000028;width:100px">@Model.DatosImporte.ImporteTotal</strong></td>

                                                                    </tr>

                                                                    <tr>

                                                                        <td colspan="2" align="right" style="font-family: Arial, sans-serif; font-size:12px; line-height:14px; color:#000028; padding-top: 16px;">@Model.DatosImporte.Impuestos</td>

                                                                    </tr>

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed">

                                                        <tr>

                                                            <td style="padding-left: 2px; padding-right: 0px;">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">DATOS DE PAGO</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td style="width: 160px; padding-bottom: 8px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">MODALIDAD</strong></td>

                                                                        @if (@Model.DatosPago.EsTarjeta == true) {

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">Tarjeta</td>

                                                                        } else {

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;padding-bottom: 8px;">PayPal</td>

                                                                        }

                                                                    </tr>

                                                                    @if (@Model.DatosPago.EsTarjeta == true) {

                                                                    <tr>

                                                                        <td style="width: 160px;"><strong style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">TARJETA DE CRÉDITO</strong></td>

                                                                        <td style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028;">@Model.DatosPago.NumeroTarjeta</td>

                                                                    </tr>

                                                                    }

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                    <br><br>

                                                    @if (!string.IsNullOrEmpty(@Model.Observaciones.ToString())) {

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                        <tr>

                                                            <td style="padding-left: 0px; padding-right: 0px;">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">OBSERVACIONES DE CLIENTE (NO GARANTIZADAS)</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td style="font-family: Arial, sans-serif; font-size:12px; line-height:20px; color:#000028;">@Model.Observaciones</td>

                                                                    </tr>

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                    <br><br><br>

                                                    }

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                        <tr>

                                                            <td style="padding-left: 0px; padding-right: 0px;">

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td align="left">

                                                                            <h4 style="font-family: Arial, sans-serif; font-size:14px; line-height:20px; color:#000028; margin-top:0px; margin-bottom:8px;">CONDICIONES DE LA RESERVA</h4>

                                                                            <img src="@Model.StaticUrl/punto-azul.gif" style="width: 88px; height:.5px; background-color:#000028; display: block;" />

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                                <br>

                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                                    <tr>

                                                                        <td style="font-family: Arial, sans-serif; font-size:10px; line-height:20px; color:#000028;padding-bottom: 8px;">

                                                                            @Model.Condiciones

                                                                        </td>

                                                                    </tr>

                                                                </table>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                </td>

                                            </tr>

                                        </table>

                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-top: 72px;">

                                            <tr>

                                                <td width="50%" class="deviceWidth first spc_rrss_it_1">

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                                        <tr>

                                                            <td width="100%" align="center">

                                                                <h5 style="font-family: Arial, sans-serif; font-size:12px; line-height:14px; color:#000028;margin-top:0px;margin-bottom:20px;">SÍGUENOS EN REDES SOCIALES</h5>

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td width="100%" class="spc_rrss">

                                                                <a href="https://www.instagram.com/h10hotels/"><img src="@Model.StaticUrl/ico-instagram.png" width="32" height="32" border="0" style="margin-right: 2px;" /></a>

                                                                <a href="https://www.facebook.com/H10.Hotels"><img src="@Model.StaticUrl/ico-facebook.png" width="32" height="32" border="0" style="margin-right: 2px;" /></a>

                                                                <a href="https://www.tiktok.com/@Model.h10hotels"><img src="@Model.StaticUrl/ico-tiktok.png" width="32" height="32" border="0" style="margin-right: 2px;" /></a>

                                                                <a href="https://www.youtube.com/user/h10hotels"><img src="@Model.StaticUrl/ico-youtube.png" width="32" height="32" border="0" /></a>

                                                            </td>

                                                        </tr>

                                                    </table>

                                                </td>

                                                <td width="50%" align="center" class="deviceWidth spc_rrss_it_2">

                                                    <h5 style="font-family: Arial, sans-serif; font-size:12px; line-height:14px; color:#000028;margin-top:0px;margin-bottom:20px;">MÁS INFORMACIÓN Y RESERVAS</h5>

                                                    <a href="tel:+34900444466" style="font-family: Arial, sans-serif; font-size:12px; line-height:16px; color:#767676; font-style: italic; text-decoration: none; font-weight: normal;"><img src="@Model.StaticUrl/ico-telefono.png" width="8" height="8" border="0" style="margin-right: 5px;" /> (+34) 900 444 466</a>

                                                    <br>

                                                    <a href="mailto:reservas@h10hotels.com" style="font-family: Arial, sans-serif; font-size:12px; line-height:16px; color:#767676; font-style: italic; text-decoration: none; font-weight: normal;"><img src="@Model.StaticUrl/ico-email.png" width="10" height="8" border="0" style="margin-right: 5px;" /> reservas@h10hotels.com</a>

                                                </td>

                                            </tr>

                                        </table>

                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                            <tr>

                                                <td align="center">

                                                    <h6 style="font-family: Arial, sans-serif; font-size:11px; line-height:16px; color:#000028;margin-top:26px;margin-bottom:16px;">DATOS PERSONALES</h6>

                                                    <p style="font-family: Arial, sans-serif; font-size:10px; line-height:16px; color:#000028;">

                                                        Puedes ejercitar tus derechos de acceso, rectificación, supresión, oposición y/o limitación del tratamiento y portabilidad de los datos dirigiéndote por escrito a H10 HOTELS, C/ Numància, 185- 1ª planta - 08034 Barcelona, o bien por medio de un correo electrónico a la dirección <a href="mailto:dpo@h10hotels.com" title="dpo@h10hotels.com">dpo@h10hotels.com</a>, en ambos casos, con la Referencia "Protección de Datos". Este mensaje contiene información confidencial. Si no eres el destinatario del presente correo electrónico te agradeceremos nos lo hagas saber por este mismo medio y procedas a eliminarlo.

                                                    </p>

                                                </td>

                                            </tr>

                                        </table>

                                    </td>

                                </tr>

                            </table>

                        </td>

                    </tr>

                </table>

            </td>

        </tr>

    </table>

</body>

</html>