.grafico-holder {
  padding: 30px 30px 30px 30px;
}

.grafico-holder .grafico {

}

.grafico-holder .grafico .item {
  display: inline-block;
  width: 100%;
  max-width: 100px;
  position: relative;
}

.grafico-holder .grafico .item .linea-holder {
  padding: 3px;
  border-width: 4px;
  border-style: solid;
  position: relative;
  display: inline-block;
  border-color: #000000;
  background-color: #f7f7f7;
  border-radius: 50%;
}

.grafico-holder .grafico .item .linea-holder .linea {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}

.grafico-holder .grafico .item .linea-holder .linea img {
  width: 100%;
  max-height: 70px;
  margin-top: calc(50% - 35px);
}

.grafico-holder .grafico:nth-child(1) .item:nth-child(1) .linea-anim {
  content: '';
  position: absolute;
  width: calc(100% - 94px);
  height: 5px;
  background: #000000;
  top: calc(50% - 5px);
  left: 106px;
  z-index: 10;
  display: inline-block;
}

.grafico-holder .grafico:nth-child(1) .item:nth-child(1){
  padding-right: 40%;
}

.grafico-holder .grafico:nth-child(2) .item:nth-child(1) .linea-anim {
  content: '';
  position: absolute;
  width: calc(100% - 94px);
  height: 5px;
  background: #000000;
  top: calc(50% - 5px);
  left: 106px;
  z-index: 10;
  display: inline-block;
}

.grafico-holder .grafico:nth-child(2) .item:nth-child(1){
  padding-right: 20%;
}

.grafico-holder .grafico:nth-child(2) {
  padding-top: 30px;
}

.grafico-holder .grafico:nth-child(2) .item:nth-child(2) .linea-anim {
  content: '';
  position: absolute;
  width: 5px;
  height: 180px;
  background: #000000;
  top: -92px;
  left: calc(50% + 4px);
  display: inline-block;
}

.grafico-holder .grafico .item .linea-anim {
  overflow: hidden;
}

.grafico-holder.verde .grafico:nth-child(2) .item:nth-child(2) .linea-anim .bar {
  background: url('../images/lineas-v.svg') repeat-y;
  width: 5px;
  height: 50px;
  overflow: hidden;
  margin-top: 180px;
  margin-left: 0px;
  -webkit-animation: moveBars2 2s linear infinite;
  -moz-animation: moveBars2 2s linear infinite;
  -ms-animation: moveBars2 2s linear infinite;
  -o-animation: moveBars2 2s linear infinite;
  animation: moveBars2 2s linear infinite;
}

.grafico-holder.verde .grafico .item .linea-anim .bar {
  background: url('../images/lineas-h.svg') repeat-x;
  height: 5px;
  overflow: hidden;
  margin-top: 0px;
  margin-left: -180px;
  -webkit-animation: moveBars 2s linear infinite;
  -moz-animation: moveBars 2s linear infinite;
  -ms-animation: moveBars 2s linear infinite;
  -o-animation: moveBars 2s linear infinite;
  animation: moveBars 2s linear infinite;
}

.grafico-holder.amarillo .grafico .item .linea-anim .bar {
  background: url('../images/lineas-h.svg') repeat-x;
  height: 5px;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 0px;
}

.grafico-holder.rojo .grafico .item .linea-anim .bar {
  background: url('../images/lineas-h.svg') repeat-x;
  height: 5px;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 0px;
}

/* ANIMATIONS */
@keyframes moveBars { 100% { margin-left: 40px; } }
@-webkit-keyframes moveBars { 100% { margin-left: 40px; } }
@-moz-keyframes moveBars { 100% { margin-left: 40px; } }
@-ms-keyframes moveBars { 100% { margin-left: 40px; } }
@-o-keyframes moveBars { 100% { margin-left: 40px; } }

@keyframes moveBars2 { 100% { margin-top: -40px; } }
@-webkit-keyframes moveBars2 { 100% { margin-top: -40px; } }
@-moz-keyframes moveBars2 { 100% { margin-top: -40px; } }
@-ms-keyframes moveBars2 { 100% { margin-top: -40px; } }
@-o-keyframes moveBars2 { 100% { margin-top: -40px; } }

/* VERDE ---------------------------- */
.grafico-holder.verde .grafico:nth-child(1) .item:nth-child(1) .linea-anim {
  background: #62c526;
}
.grafico-holder.verde .grafico:nth-child(2) .item:nth-child(1) .linea-anim {
  background: #62c526;
}
.grafico-holder.verde .grafico:nth-child(2) .item:nth-child(2) .linea-anim {
  background: #62c526;
}
.grafico-holder.verde .grafico .item .linea-holder {
  border-color: #62c526;
  background-color: #f8fff5;
}
.grafico-holder.verde .grafico .item .linea {
  border-color: #62c526;
}

/* AMARILLO ---------------------------- */
.grafico-holder.amarillo .grafico:nth-child(1) .item:nth-child(1) .linea-anim {
  background: #e8c100;
}
.grafico-holder.amarillo .grafico:nth-child(2) .item:nth-child(1) .linea-anim {
  background: #e8c100;
}
.grafico-holder.amarillo .grafico:nth-child(2) .item:nth-child(2) .linea-anim {
  background: #e8c100;
}
.grafico-holder.amarillo .grafico .item .linea-holder {
  border-color: #e8c100;
  background-color: #fffef8;
}
.grafico-holder.amarillo .grafico .item .linea {
  border-color: #e8c100;
}

/* ROJO ---------------------------- */
.grafico-holder.rojo .grafico:nth-child(1) .item:nth-child(1) .linea-anim {
  background: #ff0000;
}
.grafico-holder.rojo .grafico:nth-child(2) .item:nth-child(1) .linea-anim {
  background: #ff0000;
}
.grafico-holder.rojo .grafico:nth-child(2) .item:nth-child(2) .linea-anim {
  background: #ff0000;
}
.grafico-holder.rojo .grafico .item .linea-holder {
  border-color: #ff0000;
  background-color: #fff8f8;
}
.grafico-holder.rojo .grafico .item .linea {
  border-color: #ff0000;
}
